<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Occupancy Graphs</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" type="text/css"
        href="https://cdn.jsdelivr.net/npm/daterangepicker@3.1.0/daterangepicker.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker@3.1.0/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker@3.1.0/daterangepicker.js"></script>
    <link rel="stylesheet" href="static/css/bootstrap.min.css">
    <script src="static/js/bootstrap.bundle.min.js"></script>

    <script src="static/js/javascript.js"></script>

</head>

<body>
    <div class="grid-wrapper">
        <div class="item sidebar">
            <!-- Side menu content goes here -->
            <h2>Filter Options</h2>

            <div class="datepicker">
                <!-- Date Range Picker -->
                <label for="dateRangeFilter">Select Date Range:</label>
                <input type="text" id="dateRangeFilter" name="dateRangeFilter">
                <!-- Apply Filter Button -->
                <button class="applyButton btn btn-primary" onclick="applyDateFilter()">Apply Filter</button>
                <button class="resetButton btn btn-danger">Reset Filter</button>
            </div>

            <!-- <h2>Statistics</h2>
            <div class="statistics">
                <div class="statistics-waitingarea">
                    <h5 class="stat-title">Waiting Area</h5>
                    <p id="averageOccupancy">Average Occupancy Waiting: <span id="avgValue">0</span></p>
                    <p>Max Occupancy: <span id="maxOccupancyWaiting">0</span></p>
                </div>
                <div class="statistics-customsarea">
                    <h5 class="stat-title">Customs Area</h5>
                    <p id="averageOccupancy">Average Occupancy Customs: <span id="avgValue">0</span></p>
                    <p>Max Occupancy: <span id="maxOccupancyCustoms">0</span></p>
                </div>
            </div> -->
        </div>


        <div class="item content">
            <div class="chart-container">
                <h2>Waiting Area Occupancy</h2>
                <canvas id="waitingAreaChart" width="300" height="50"></canvas>
                <div class="statistics">
                    <div class="occupancy-pair">
                        <div class="occupancy-label">Average Occupancy:</div>
                        <div class="occupancy-value" id="avgValue">0</div>
                    </div>

                    <div class="occupancy-pair">
                        <div class="occupancy-label">Peak Occupancy:</div>
                        <div class="occupancy-value" id="peakValue">0</div>
                    </div>

                    <div class="occupancy-pair">
                        <div class="occupancy-label">Occupancy Rate:</div>
                        <div class="occupancy-value" id="occupancyRateValue">0%</div>
                    </div>

                    <div class="occupancy-pair">
                        <div class="occupancy-label">Seat Turnover Rate:</div>
                        <div class="occupancy-value" id="turnoverRateValue">0</div>
                    </div>

                    <div class="occupancy-pair">
                        <div class="occupancy-label">Average Wait Time:</div>
                        <div class="occupancy-value" id="avgWaitTimeValue">0 minutes</div>
                    </div>
                </div>
            </div>

            <div class="chart-container">
                <h2>Customs Area Occupancy</h2>
                <canvas id="customsAreaChart" width="300" height="50"></canvas>
                <div class="statistics">
                    <div class="occupancy-pair">
                        <div class="occupancy-label">Average Occupancy:</div>
                        <div class="occupancy-value" id="avgCustomOccupancyValue"></div>
                    </div>

                    <div class="occupancy-pair">
                        <div class="occupancy-label">Peak Occupancy:</div>
                        <div class="occupancy-value" id="peakCustomOccupancyValue"></div>
                    </div>

                    <div class="occupancy-pair">
                        <div class="occupancy-label">Flow Rate:</div>
                        <div class="occupancy-value" id="avgCustomFlowRateValue"></div>
                    </div>

                    <div class="occupancy-pair">
                        <div class="occupancy-label">Passenger Turnaround Time:</div>
                        <div class="occupancy-value" id="avgCustomPassengerTurnaroundTimeValue"></div>
                    </div>

                    <div class="occupancy-pair">
                        <div class="occupancy-label">Average Wait Time:</div>
                        <div class="occupancy-value" id="avgCustomWaitTimeValue"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="static/js/bootstrap.bundle.min.js"></script>
</body>

</html>