<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Occupancy Graphs</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" type="text/css"
        href="https://cdn.jsdelivr.net/npm/daterangepicker@3.1.0/daterangepicker.css">
    <!-- Include jQuery (required by DateRangePicker) -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- Include DateRangePicker JavaScript -->
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker@3.1.0/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker@3.1.0/daterangepicker.js"></script>
    <link rel="stylesheet" href="static/css/bootstrap.min.css">
</head>

<body>
    <div class="grid-wrapper">
        <div class="item sidebar">
            <!-- Side menu content goes here -->
            <h2>Filter Options</h2>

            <div class="datepicker">
                <!-- Date Picker for Single Date -->
                <label for="singleDateFilter">Select Date:</label>
                <input type="date" id="singleDateFilter" name="singleDateFilter">
                <br>
                <p>Or: </p>

                <!-- Date Range Picker -->
                <label for="dateRangeFilter">Select Date Range:</label>
                <input type="text" id="dateRangeFilter" name="dateRangeFilter">
                <!-- Apply Filter Button -->
                <button class="applyButton btn btn-primary" onclick="applyDateFilter()">Apply Filter</button>
                <button class="resetButton btn btn-danger">Reset Filter</button>
            </div>

            <!-- <h2>Statistics</h2>
            <div class="statistics">
                <div class="statistics-waitingarea">
                    <h5 class="stat-title">Waiting Area</h5>
                    <p id="averageOccupancy">Average Occupancy Waiting: <span id="avgValue">0</span></p>
                    <p>Max Occupancy: <span id="maxOccupancyWaiting">0</span></p>
                </div>
                <div class="statistics-customsarea">
                    <h5 class="stat-title">Customs Area</h5>
                    <p id="averageOccupancy">Average Occupancy Customs: <span id="avgValue">0</span></p>
                    <p>Max Occupancy: <span id="maxOccupancyCustoms">0</span></p>
                </div>
            </div> -->
        </div>


        <div class="item content">
            <div class="chart-container">
                <h2>Waiting Area Occupancy</h2>
                <canvas id="waitingAreaChart" width="300" height="50"></canvas>
                <div class="statistics">
                    <div class="occupancy-pair">
                        <div class="occupancy-label">Average Occupancy:</div>
                        <div class="occupancy-value" id="avgValue">0</div>
                    </div>

                    <div class="occupancy-pair">
                        <div class="occupancy-label">Peak Occupancy:</div>
                        <div class="occupancy-value" id="peakValue">0</div>
                    </div>

                    <div class="occupancy-pair">
                        <div class="occupancy-label">Occupancy Rate:</div>
                        <div class="occupancy-value" id="occupancyRateValue">0%</div>
                    </div>

                    <div class="occupancy-pair">
                        <div class="occupancy-label">Seat Turnover Rate:</div>
                        <div class="occupancy-value" id="turnoverRateValue">0</div>
                    </div>

                    <div class="occupancy-pair">
                        <div class="occupancy-label">Average Wait Time:</div>
                        <div class="occupancy-value" id="avgWaitTimeValue">0 minutes</div>
                    </div>
                </div>
            </div>

            <div class="chart-container">
                <h2>Customs Area Occupancy</h2>
                <canvas id="customsAreaChart" width="300" height="50"></canvas>
                <div class="statistics">
                    <div class="occupancy-pair">
                        <div class="occupancy-label">Average Occupancy:</div>
                        <div class="occupancy-value" id="">0</div>
                    </div>

                    <div class="occupancy-pair">
                        <div class="occupancy-label">Peak Occupancy:</div>
                        <div class="occupancy-value" id="">0</div>
                    </div>

                    <div class="occupancy-pair">
                        <div class="occupancy-label">Flow Rate:</div>
                        <div class="occupancy-value" id="">0%</div>
                    </div>

                    <div class="occupancy-pair">
                        <div class="occupancy-label">Passenger Turnaround Time:</div>
                        <div class="occupancy-value" id="">0</div>
                    </div>

                    <div class="occupancy-pair">
                        <div class="occupancy-label">Average Wait Time:</div>
                        <div class="occupancy-value" id="">0 minutes</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="static/js/bootstrap.bundle.min.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            // Add event listeners to toggle input fields
            var singleDateFilter = document.getElementById('singleDateFilter');
            var dateRangeFilter = document.getElementById('dateRangeFilter');

            singleDateFilter.addEventListener('input', function () {
                dateRangeFilter.disabled = this.value !== '';
            });

            dateRangeFilter.addEventListener('input', function () {
                singleDateFilter.disabled = this.value !== '';
            });
        });

        function applyDateFilter() {
            // Implement your filter logic here
            alert("Filter Toegevoegd Zemmels!"); // Replace with your logic
        }
    </script>
    <script>
        $(function () {
            $('#dateRangeFilter').daterangepicker();
        });

        document.addEventListener('DOMContentLoaded', function () {
            // Fetch Waiting Area Data
            fetch('/waiting_area_data')
                .then(response => response.json())
                .then(data => {
                    var ctx = document.getElementById('waitingAreaChart').getContext('2d');
                    new Chart(ctx, {
                        type: 'line',
                        data: {
                            labels: data.labels,
                            datasets: data.datasets.map(dataset => ({
                                label: dataset.label,
                                data: dataset.data,
                                borderColor: dataset.borderColor,
                                borderWidth: dataset.borderWidth,
                                fill: dataset.fill
                            }))
                        },
                        options: {
                            scales: {
                                x: [{
                                    type: 'time',
                                    time: {
                                        unit: 'minute'
                                    }
                                }],
                                y: [{
                                    ticks: {
                                        beginAtZero: true
                                    }
                                }]
                            }
                        }
                    });
                });

            // Fetch Customs Area Data
            fetch('/customs_area_data')
                .then(response => response.json())
                .then(data => {
                    var ctx = document.getElementById('customsAreaChart').getContext('2d');
                    new Chart(ctx, {
                        type: 'line',
                        data: {
                            labels: data.labels,
                            datasets: data.datasets.map(dataset => ({
                                label: dataset.label,
                                data: dataset.data,
                                borderColor: dataset.borderColor,
                                borderWidth: dataset.borderWidth,
                                fill: dataset.fill
                            }))
                        },
                        options: {
                            scales: {
                                x: [{
                                    type: 'time',
                                    time: {
                                        unit: 'minute'
                                    }
                                }],
                                y: [{
                                    ticks: {
                                        beginAtZero: true
                                    }
                                }]
                            }
                        }
                    });
                });
        });
    </script>


</body>

</html>